<!DOCTYPE html>
<html lang="en" >
<head>
    <script src="https://kit.fontawesome.com/c0c00adff1.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Book & Consultation</title>
</head>
<body>
    <div class="page-alignment">
        <!-- navbar-section -->
        <header class="navbar-bg-img">
            <nav class="navbar-section" id="mynavbar-section">
                <div class="navbar-menu" id="mynavbar-menu">
                    <div class="navbar-menu-1">
                        <a href="#login">Login</a>
                        <a href="#mycourses">My Courses</a>
                        <a href="#account">Account</a>
                    </div> 
                    <div class="navbar-menu-2">
                        <a href="#home">Home</a>
                        <a href="#courses">Courses</a>
                        <a href="#bookandconsultation" class="active">Book & Consultation</a>
                        <a href="#about">About</a>
                        <a href="#faq">FAQ</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                    </div> 
                </div>
                <img src="../images/ithra-black-logo.png" alt="Logo" class="navbar-logo" >
            </nav>
        </header>
        <!-- Consultation-section -->
        <section class="consultation-section">
            <h1>Book a Consultation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                 Lorem ipsum </br> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
                 Lorem ipsum dolor sit amet,</br> consectetur adipiscing elit, sed do eiusmod tempor, 
                 Lorem ipsum dolor sit amet, consectetur </br> adipiscing elit, sed do eiusmod tempor.</p>
        </section>
        <!-- form section -->
        <form action="#">
            <div class="form-section">
                <!-- fullname -->
                <label for="fullname" class="form-label">Full name:</label><br> &nbsp 
                <input type="text" id="fullname" name="fullname" placeholder="fullname" required> &nbsp <br>
                <!-- email -->
                <label for="email" class="form-label">Email:</label><br> &nbsp
                <input type="text" id="email" name="email" placeholder="email" required> &nbsp<br>
                <!-- phonenumber -->
                <label for="phonenumber" class="form-label">Phone number:</label><br>&nbsp
                <input type="text" id="phonenumber" name="phonenumber" placeholder="phonenumber" maxlength="10" minlength="10" required >&nbsp<br>
                <!-- checkbox -->
                <label for="checkbox" class="form-label">Why do you want to book this consultation session?</label><br>&nbsp<br>
                <input type="checkbox" id="ithra Academy" name="ithra Academy" value="ithra Academy">
                <label for="ithra Academy" class="form-label"> Inquiries about Ithra Academy</label><br>&nbsp<br>
                <input type="checkbox" id="domains" name="domains" value="domains">
                <label for="domains" class="form-label"> Inquiries about the domains</label><br>&nbsp<br>
                <input type="checkbox" id="about-certain-course" name="about-certain-course" value="about-certain-course">
                <label for="about-certain-course" class="form-label"> Inquiries about certain course</label><br>&nbsp<br>
                <input type="checkbox" id="other" name="other" value="other">
                <label for="other" class="form-label"> Other</label><br>&nbsp
                <input type="text" id="other-reason" name="other-reason" placeholder="other-reason"><br>&nbsp<br>
                <!-- Tell Us More -->
                <label for="tell-us-more" class="form-label">Tell Us More (optional)</label><br>&nbsp
                <textarea id="tell-us-more" name="tell-us-more" rows="5" cols="33" placeholder="Tell Us More..."></textarea><br>&nbsp&nbsp<br>
                <!-- date and time -->
                <label for="date-and-time" class="form-label">Please select the preferred date and time</label><br>&nbsp
                <textarea id="date-and-time" name="date-and-time" rows="5" cols="33" placeholder="Calendar view showing workdays of next month only" ></textarea>&nbsp<br>
                <!-- checkbox for time -->
                <input type="checkbox" id="time-1" name="time-1" value="time-1">
                <label for="time-1" class="form-label">8:00 am - 8:30 am</label><br>&nbsp<br>
                <input type="checkbox" id="time-2" name="time-2" value="time-2">
                <label for="time-2" class="form-label">8:00 am - 8:30 am</label><br>&nbsp<br>
                <input type="checkbox" id="time-3" name="time-3" value="time-3">
                <label for="time-3" class="form-label">8:00 am - 8:30 am</label><br>&nbsp<br>
                <input type="checkbox" id="time-4" name="time-43" value="time-4">
                <label for="time-4" class="form-label">8:00 am - 8:30 am</label><br>&nbsp<br>
                <input type="checkbox" id="time-5" name="time-5" value="time-5">
                <label for="time-5" class="form-label">8:00 am - 8:30 am</label><br>&nbsp<br>
                <br>&nbsp<br>
                <button type="submit" class="cal-btn">Book Now</button>
            </div>
        </form>
    </div>
     
    <!-- footer-section -->
    <footer class="footer-section">
        <div class="page-alignment">
            <div class="footer-details-1">
                <div class="footer-column">
                    <p>Contact Us</p>
                    <p>International: +966-13-816-9799</p>
                    <p>Toll Free: 800-122-1224</p>
                    <p>Email: info@ithra.com</p>
                </div>
                <div class="footer-column">
                    <p>Quick Links</p>
                    <p>About Ithra Academy</p>
                    <p>Courses</p>
                    <p>Coaching</p>
                    <p>FAQ</p>
                    <p>About Ithra</p>
                    <p>Visit Ithra</p>
                    <p>Ithra Website</p>
                </div>
                <div class="footer-column">
                    <p>Quick Links</p>
                    <p>About Ithra Academy</p>
                    <p>Courses</p>
                    <p>Coaching</p>
                    <p>FAQ</p>
                    <p>About Ithra</p>
                    <p>Visit Ithra</p>
                    <p>Ithra Website</p>
                </div>
            </div>
            <div class="footer-contect-section">
                <div class="footer-contect">
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                    <i class="fa-brands fa-square-instagram fa-2xl"></i>
                    <i class="fa-brands fa-twitter fa-2xl"></i>
                    <i class="fa-brands fa-youtube fa-2xl"></i>
                </div>
                <div class="footer-logo">
                    <img src="../images/ithra-black-logo.png" alt="Logo">
                </div>
            </div>
            <hr width="100%;" color="white" size="4">
            <!-- Terms & Conditions section -->
            <div class="Terms-Conditions-section">
                <p>© 2021 Saudi Aramco Oil Co. King Abdulaziz Center for World Culture </p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    <!-- script for hamburger media quary -->
    <script>
        function myFunction() {
          var x = document.getElementById("mynavbar-menu");
          var y = document.getElementById("mynavbar-section")
          if (x.className === "navbar-menu" && y.className === "navbar-section") {
            x.className += " responsive";
            y.className += "-responsive";
          } else {
            x.className = "navbar-menu";
            y.className = "navbar-section";
          }
        }
    </script>
</body>
</html>